/* Footer Styles */
.footer {
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto;
  background-color: #333;
}

.footerHome {
  background-color: rgb(var(--background-rgb));
}

.footerAbout {
  background-color: #141414;
}

.footerProjects {
  background-color: rgb(var(--background-rgb));
}

.footerContent {
  max-width: 100%;
  margin: 0 auto;
}

.footerContent h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footerContent p {
  margin-bottom: 20px;
}

.footerContent .socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footerContent .socials li {
  display: inline-block;
}

.footerContent .socials li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  transition: transform 0.2s ease;
}

.socialGit:hover,
.socialLink:hover {
  transform: translateY(-10%);
  transition: transform 0.2s ease;

}

.footerBottom {
  background-color: #1e1f20;
  padding: 10px;
}

.footerBottom p {
  margin: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footerContent h3 {
    font-size: 1.2em; 
  }

  .footerContent p {
    font-size: 0.8em;
  }

  .footerContent .socials li a {
    font-size: 1.5em;
  }
}
