.background {
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(20, 20, 20)
        )
        rgb(var(--background-rgb));
}
.title {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5em;
    color: #333;
  }
  
  .main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family:'Rubik', system-ui, sans-serif;
  }
  
  .text {
    font-size: 1.2em;
    line-height: 1.6;
    color: white;
  }
  
  .subHead {
    font-family: 'Jersey 15';
    font-size: 2.7em;
    color: #4d7c8e;
    margin-top: 20px;
  }
  
  .list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list li a{
    font-size: 1.2em;
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
  }
  .list a:hover {
    color: rgb(var(--hover-rgb));
  }
  
  /* Responsive design for larger screens */
  @media (min-width: 768px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .text,
    .list {
      grid-column: span 2;
    }
  }

  