@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Press+Start+2P&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 4, 36, 59;
    --hover-rgb: 232, 197, 71;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

.title {
  font-family: 'Press Start 2P', system-ui, sans-serif;
  size: 5rem;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in-out;
}