@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 51, 51;
    --background-end-rgb: 51, 51, 51;
    --hover-rgb: 232, 197, 71;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

.title {
  font-family: 'Press Start 2P', system-ui, sans-serif ;
  text-align: center;
}