@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.typingText {
    font-family: 'Roboto Mono', monospace;
    white-space: pre;
    overflow: hidden;
    border-right: 0.15em solid black;
    animation: blink-caret 1s step-end infinite;
    font-size: 3rem;
    font-weight: 450;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3rem; /* Fixed height for the container */
    line-height: 3rem; /* Match line height to container height */
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}
