/* .navbar {
} */

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.navbar a {
    font-family: 'Jersey 15';
    font-size: 1.7em;
    text-decoration: none;
    color:aliceblue;
}

.navbar a:hover {
    color: rgb(var(--hover-rgb));
}